/* Coloring */
body#light-mode th, body#light-mode td {
    border-color: #242424 ;
}

body#dark-mode th, body#dark-mode td {
    border-color: white;
}

/* Main page */
main > section > article > h2 {
    margin: 0;
    /* Text Formatting */
    text-align: center;
    font-family: "Roboto", sans-serif ;
}

/* Table styling */
table {
    margin-top: 10px;
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;
}

td {

    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#system-requirements {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

th, td {
    padding: 15px;
}

/* Form styling */
form {

    /* flex properties */
    flex-direction: column;
    align-items: center;

    /* Other */
    display: flex;
    text-align: center;
}

#form-wrapper {
    flex: 1;
    font-family: "Segoe UI", sans-serif;
}

#form-ram, #form-gpu {
    display: none;
}

#amd-gpu-field, #nv-gpu-field, #intel-gpu-field {

    display: none;
    /* Flex properties */
    flex-direction: column;
    align-items: center;
}

#form-ram input[type='number'] {
    width: 45px;
}

.form-continue-button {
    /* Sizing and Spacing */
    padding: 7px;
    width: 60%;
    margin-top: 5px;
    /* Coloring */
    background-color: #363638;
    color: white;
    /* Misc */
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
}

#amd-cpu-field, #intel-cpu-field {
    /* Flex properties */
    flex-direction: column;
    align-items: center;

    /* Other */
    display: none;
    text-align: center;
}

#form-wrapper {

    flex: 1;

    font-family: "Segoe UI", sans-serif;
}


main>section>article>h2 {
    font-size: 35px
}

