/* Color Control */
body#light-mode div>span>a, body#light-mode article>span>a{
    color: #242424;
}

body#dark-mode div>span>a, body#dark-mode article>span>a{
    color: white;
}

/* Main Area */
section > article {
    width: 70%;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

video {
    width: 100%;
    border-radius: 10px;
}

#section-article-design-feature {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.feature-section-description-image {
    display: block;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    width: 80%;
    border-radius: 15px;
}

#feature-header {
    font-size: 30px;
}

.article-feature-text {
    padding: 5px 5px 10px;
}

#design-info-description {
    flex: 1;
    padding-left: 20px;
    font-size: 23px;
}

#design-info-image {
    flex: 1;
}

section>article>img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#credit-intro-picture-design {
    text-align: right;
    font-size: 15px;
}

.feaure-credit-image {
    text-align: center;
    font-size: 15px;
}

div.dd-image {
    text-align: center;
}

dt {
    font-size: 30px;
    font-weight: bold;
}
#credit-intro-picture-design {
    display: block;
    text-align: right;
}
/* For smaller devices */
@media screen and (max-width: 1100px) {
    .feature-section-description-image {
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 15px;
    }

    #page-info-section {
        flex-direction: column;
    }

    div.dd-image {
        margin: 0;
        text-align: center;
    }

    section>article {
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
    }
}
