body#light-mode figcaption>a {
   color: #242424;
}

body#dark-mode figcaption>a{
   color: white;
}
section > article {

    /* Spacing and Sizing */
    width: 70%;
    margin-right: 10px;

    /* Font Formatting */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
 }

 #info-text-gaming-feature {
   flex: 40%;
   width: 80%;
 }
 #info-image-gaming-feature {
   flex: 1;
 }
 section>article>figure>img {
   width: 100%;
   object-fit: cover;
   border-radius: 15px;
}
.image-gaming-feature {
   flex: 1;
}
.info-gaming-feature-text {
   flex: 70%;
}

@media screen and (max-width: 1100px) {
    .gaming-info-section {
        flex-direction: column;
    }

    section > article {

        /* Spacing and Sizing */
        width: 100%;

        /* Font Formatting */
        font-family: "Roboto", sans-serif;
        font-size: 17px;
    }
}
.img-credit-right {
   font-size: 15px;
   text-align: right;
}
.img-credit-left {
   font-size: 15px;
   text-align: left;
}