/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* MISC */
body {
    margin: 0;
    transition: background-color 0.4s;
}

*:focus-visible {
    border: solid black 1px;
    transition: border 0.2s;
}

/* COLOR-CONTROL */
body#dark-mode {
    background-color: #131313;
    color: white;
}

body#light-mode {
    background-color: #edeef8;
    color: #242424;
}

body#dark-mode nav {
    background-color: #232324;
}

body#light-mode nav {
    background-color: #dce1ee;
}

body#dark-mode nav > section > a:hover, body#dark-mode nav > section > a:focus-visible {
    background-color: #363638;
}

body#light-mode nav > section > a:hover, body#light-mode nav > section > a:focus-visible {
    background-color: #fafafa;
}

body#dark-mode .nav-button-label > p {
    background-color: #363638;
}

body#light-mode .nav-button-label > p {
    background-color: #fafafa;
}

body#dark-mode main > section {
    background-color: #232324;
}

body#light-mode main > section {
    background-color: #dce1ee;
}

/* TOP BAR CSS STYLING */
nav {
    /* Flex and Flex Properties */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* Sizing and Spacing */
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    /* Misc */
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s;
}

nav > section {
    /* Flex and Flex Properties */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav > section > a {
    /* Size and Spacing */
    margin: 0 2px;
    padding: 7px;
    height: 27px;
    width: 27px;
    /* Styling and Alignment */
    text-align: center;
    border-radius: 6px;
    transition: background-color 0.3s;
    /* Remove text */
    font-size: 0;
    line-height: 0;
    color: transparent;
    text-decoration: none;
}

nav > section > a#current-page > img {

    /* spacing */
    padding:0 3px 3px 3px;
    margin: 0 0 -3px -3px;

    /* border */
    border-radius: 3px;
    border-bottom: solid #0883D9 4px;
}

nav > section > a > img {

    /* border and sizing */
    width: 100%;
    border-radius: 2px;
}

#nav-left {
    /* Flex and Flex Properties */
    flex: 1;
    justify-content: flex-start;
}

#nav-centre {
    /* Flex Properties */
    flex: 1;
    justify-content: center;
    flex-wrap: nowrap;
}

#nav-right {
    /* Flex Properties */
    flex: 1;
    justify-content: flex-end;
}

.nav-button-label {
    /* Positioning */
    z-index: 10;
    position:relative;
    right: 45px;
    top: 5px;

    /* Sizing */
    width: 0;
    height: 0;

    /* Other */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s;
    display: inline;
}

.nav-button-label p {

    /* Spacing and positioning */
    position: fixed;
    padding: 2px;
    border-radius: 5px;

    /* Font formatting */
    font-family: "Roboto", sans-serif;
}

nav > section > a:hover + .nav-button-label {

    /* Invisibile! */
    visibility: visible;
    opacity: 1;
}

/* FOOTER STYLING */
footer {
    /* Flex properties */
    display: flex;
    flex-direction: column;
    /* Footer will have static coloring */
    background-color: #202020;
    /* Alignment and display */
    text-align: left;
    padding: 5px 30px;
}

footer section.credit-section {
    display: flex;
    flex-direction: row;
}

footer > section:nth-child(1) > article {
    flex: 1;
}

footer p {
    color: white;
}

footer h2 {
    /* Text formatting */
    font-family: "Segoe UI", sans-serif;
    color: white;
}

footer .image-credits :nth-child(1) {
    /* Text formatting */
    font-family: "Roboto", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 10px;
}

footer .image-credits a:nth-child(2) {
    /* Text formatting */
    font-family: "Roboto", sans-serif;
    color: lightblue;
    text-decoration: none;
    font-size: 10px;
}

footer section#buttons {
    /* Flex properties */
    display: flex;
    justify-items: flex-end;

    /* Spacing */
    margin: 10px 0;

}

footer section#buttons p {
    /* Spacing */
    margin-left: 5px;

    /* Font Formatting */
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    vertical-align: center;
}

footer section#buttons a {
    /* Size and Spacing */
    margin: 0 2px;
    padding: 7px;
    height: 27px;
    width: 27px;
    /* Styling and Alignment */
    text-align: center;
    border-radius: 6px;
    /* Remove text */
    font-size: 0;
    line-height: 0;
    color: transparent;
    text-decoration: none;
    background-color: #2a2a2a;
}

/* HEADER CONTENT STYLING */
header > section {
    /* Alignment and positioning */
    text-align: center;
    position: relative;
}

/* For smaller devices and screen sizes */
@media screen and (max-width: 700px) {
    header > section > img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

/* For medium devices and screen sizes */
@media screen and (max-width: 900px) and (min-width: 700px) {
    header > section > img {
        width: 80%;
        height: 300px;
        object-fit: cover;
        border-radius: 0 0 20px 20px;
    }
}

/* for large devices and screen sizes */
@media screen and (min-width: 900px) {
    header > section > img {
        width: 60%;
        height: 300px;
        object-fit: cover;
        border-radius: 0 0 20px 20px;
    }
}

header > section > h1 {
    /* Text formatting */
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 40px;
    transition: color 0.3s;
    margin: 0;
}

/* MAIN CONTENT STYLING */
#site-Container {
    /* Flex properties */
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* positioning and sizing */
    margin-top: 50px;
    min-height: 100vh;
}

main {
    /* Flex properties */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section {
    /* Flex properties */
    align-items: center;
    display: flex;
    padding: 30px;
}

/* For smaller devices */
@media screen and (min-width: 1100px) {
    main > section {
        width: 70%;
        border-radius: 20px;
        margin: 20px;
        transition: background-color 0.3s;
    }
}

/* For Larger devices */
@media screen and (max-width: 1100px) {
    main > section {
        width: 80%;
        border-radius: 20px;
        margin: 20px;
        transition: background-color 0.3s;
    }
}
