
/* Main area */
.main-section-content {
   width: 70%;
   margin-right: 10px;
   font-family: "Roboto", sans-serif;
   font-size: 20px;
}

.main-section-content a {
   color: inherit;
}

.main-section-image img {
   max-width: 100%;
   max-height: 200px;
   border-radius: 10px;
   vertical-align: center;
}

.main-section-image.r {
   flex: fit-content;
   text-align: right;
}

.main-section-image.l {
   flex: fit-content;
   text-align: left;
   margin-right: 30px;
}

/* For smaller devices */
@media screen and (max-width: 745px) {
   main > section {
      flex-direction: column;
   }

   .main-section-content {
      width: 100%;
      margin: auto 30px auto auto;
   }

   .main-section-image {
      flex: fit-content;
      text-align: center;
   }

   .main-section-image.l {
      margin-right: 0;
   }

   .main-section-image img {
      max-width: 100%;
      max-height: none;
      border-radius: 10px;
      text-align: center;
   }
}

/* for smaller displays and devices */
@media screen and (max-width: 700px) {
   header > section > video {
      width: 100%;
      height: 250px;
      object-fit: cover;
   }
}

/* for medium displays and devices */
@media screen and (max-width: 900px) and (min-width: 700px) {
   header > section > video {
      width: 80%;
      height: 300px;
      object-fit: cover;
      border-radius: 0 0 20px 20px;
   }
}

/* For large displays and devices */
@media screen and (min-width: 900px) {
   header > section > video{
      width: 60%;
      height: 300px;
      object-fit: cover;
      border-radius: 0 0 20px 20px;
   }
}
