/* Color Control */
body#light-mode figcaption>a {
    color: #242424;
}

body#dark-mode figcaption>a{
    color: white;
}

/* Main area */
main h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

main ul li {
    list-style-type: "🛡️";
    font-family: "Segoe UI", sans-serif;
    padding: 7px;
}

section > article {
    width: 70%;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

section > article > figure > img {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.security-feature-info-image-left{
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.security-feature-info-image-right{
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.security-feature-info-description{
    flex: 1;
}

/* For smaller devices */
@media screen and (max-width: 1100px) {
    .security-feature-section {
        flex-direction: column;
    }

    section > article {
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
    }

    .security-feature-info-image-right{
        flex: 1;
        border-radius: 15px;
    }

    .security-feature-info-image-left{
        flex: 1;
        border-radius: 15px;
    }
}

/* For image captions */
.img-credit {
    font-size: 15px;
}

.img-credit.r {
    text-align: right;
}
