
body#light-mode ol>li>p>a, body#light-mode main>section>article>p>a, body#light-mode li>span>a, body#light-mode main>section>article>span>a{
    color: #242424;
}

body#dark-mode ol>li>p>a, body#dark-mode main>section>article>p>a, body#dark-mode li>span>a, body#dark-mode main>section>article>span>a{
    color: white;
}

body#light-mode th, body#light-mode td {
    border-color: #242424 ;
}

body#dark-mode th, body#dark-mode td {
    border-color: white;
}

.form {
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
}

table, th, td {
    padding: 4px;
    border: 3px solid;

}

table {
    margin: auto;
}

section>article {
    width: 70%;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.upgrade-section-step-image {
    display: block;
    margin: auto;
    padding: 5px;
    width: 80%;
    border-radius: 15px;
}

section#upgrade-section-flex {
    flex-direction: column;
}

.step-ol-info {
    padding: 5px;
}

#table-section {
    justify-content: center;
}

#table-section > article {
    text-align: center;
    margin: auto;
}

section>article>img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* For large devices */
@media screen and (min-width: 1100px) {
    #info-section-image {
        flex: 1;
    }

    #info-section-description {
        flex: 1;
        padding-left: 20px;
        font-size: 23px;
    }

    .upgrade-section-article-step {
        width: auto;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 21px;
    }
}

/* For smaller devices */
@media screen and (max-width: 1100px) {
    section>article {
        width: 100%;
        margin-right: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
    }

    #info-section-image {
        flex: 1;
    }

    #info-section {
        flex-direction: column;
    }

    #info-section-description {
        flex: 1;
        font-size: 16px;
    }

    .upgrade-section-article-step {
        width: auto;
        font-size: 16px;
    }
}

#intro-image-upgrade {
    font-size: 15px;
}

.step-upgrade-credits {
    font-size: 15px;
    text-align: center;
    display: block;
}

